/out
*.iml
/.idea
/.vscode
gen
haskell/csce322a03part01.hs
haskell/csce322a03part02.hs
haskell/csce322a03part03.hs
haskell/csce322a03part04.hs
haskell/Helpers.hs
haskell/part01test01.eps
SpringHW/JAVASCRIPT/part01test02.maze.g
SpringHW/JAVASCRIPT/part01test02.maze.g
SpringHW/JAVASCRIPT/part01test02.moves.g
SpringHW/JAVASCRIPT/part01test02.solution
SpringHW/Prolog/part01test01.g
